<!DOCTYPE html>
<html>
<meta charset="UTF-8">

	<head>
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/coffeeApp.css" rel="stylesheet">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<script src="js/angular.min.js"></script>
		<script src="js/main.js"></script>



	</head>

<body>
<div class="container" ng-app="CoffeeShopFinder" ng-controller="FinderCtrl">

	<h1>Coffee Shop Finder</h1>
	<p class="lead">Where can I get a good cup of Joe?</p>

	<p>
		<input type="text" class="form-control" placeholder="Where are you?" ng-model="searchTerm">
	</p>

	<button type="button" class="btn btn-primary" ng-click="findShops()">Let's go!</button>

	<div id="map"></div>

</div>
</body>

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="js/coffeeApp.js"></script>


</html>